body
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size: 20px
    .sec1_parent
        background: #e6e2e2
        height: 70vh
        width: 100vw
        display: flex
        justify-content: center
        justify-content: space-around
        padding: 40px
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        .sec1_ALLText_but
            display: flex
            flex-direction: column
            justify-content: space-around
        .sec1_text1
            width: 30vw
        .sec1_para1
            width: 40vw
        .buttondiv
            width: 16vw
            display: flex
            justify-content: space-between
        .s1_img
            width: 50vw
            img
                max-width: 400px
                display: flex
                
    .btn 
        outline: 0
        display: inline-flex
        align-items: center
        justify-content: space-between
        background: #f60202
        min-width: 100px
        border: 0
        border-radius: 4px
        box-shadow: 0 4px 12px rgba(0, 0, 0, .1)
        box-sizing: border-box
        padding: 10px 20px
        color: #fff
        font-size: 12px
        font-weight: 600
        letter-spacing: 1.2px
        text-transform: uppercase
        overflow: hidden
        cursor: pointer
        .btn:hover 
            opacity: .95
            .btn .animation 
                border-radius: 100%
                animation: ripple 0.6s linear infinite
            